.mainDiv{
  background-color: rgb(243, 241, 219);
  display: grid;
  row-gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}
.cards{
  width: 500px;
  height: 500px;
  border: 2px solid black;
}
/* .card{
  width: 500px;
  height: 500px;
} */
tour{

}
img{
height: 400px;
width: 100%;
}